/* font styles */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
/* shared styles */

* {
    font-family: 'Work Sans', sans-serif;
}

.text-light-gray{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    }

.btn-primary{
    padding: 20px 40px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 48px;
    border-style: none;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.radiant-color{
        font-size: 6rem;
        font-weight: 800;
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.section-title{
    color: #0B0223;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
}

/* header styles */

header{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 40px 150px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.nav-1st-part{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-1st-part img{
    width: 86.041px;
    height: 40px;
}
.nav-1st-part .nav-title{
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 700;
}
nav > ul{
    display: flex;
}
nav li{
    color: #3C354F;
    font-size: 1.125rem;
    font-weight: 500;
    list-style: none;
    margin-right: 30px;
}

/* banner styles */

.banner{
    background-color: rgba(250, 235, 215, 0.08);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.banner img{
    width: 50%;
}
.banner-title{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
}
.banner-content .banner-btn{
    padding: 20px 40px;
    margin-left: 24px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 48px;
    border-style: none;
    background: #4EC5F7;
}
.banner-content{
    background-image: url(Group14.png);
}

/* main part styles */
main{
    max-width: 1440px;
    margin: 0 auto;
}

/* online games styles part */

.online-games-container{
    margin-top: 100px;
}
.games-content{
    text-align: center;
}

.games-content .funny-video{
    font-size: 3rem;
    font-weight: 700;
}
.card-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: start;
}
.card-container .card img{
    margin-top: 45px;
    width: 250px;
    height: 350px;
    border-style: none;
    border-radius: 16px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.card-container p{
    width: 250px;
    /* height: 350px; */
}

/* play instantly part styles */

.play-instantly-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    align-items: center;
    text-align: center;
    gap: 100px;
}
.play-instant-content .play-instant{
    font-size: 3rem;
    font-weight: 700;
}
.play-instant-img .img-one{
    width: 500px;
    height: 500px;
    margin-left: 100px;
    border-radius: 8px;
    background: url(<path-to-image>), lightgray -7.583px 0px / 102.389% 100% no-repeat;
}
.play-instant-img .img-two{
    width: 300px;
    height: 300px;
    position: relative;
    bottom: 150px;
    margin-right: 400px;
    border-radius: 8px;
    border: 10px solid #FFF;
    background: url(<path-to-image>), lightgray 0px -0.304px / 100% 117.229% no-repeat;
}
.play-instant-img{
    height: 750px;
}

/* different games part styles */

.different-games-container img{
    max-width: 60px;
    max-height: 60px;
}
.different-games-container div{
    border-radius: 50px;
    background: #FFF;
}
.different-games-container h6{
    font-size: 1rem;
    font-weight: 600;
}
.arcade-games{
    border: 1px solid #FF42A5;
}
.game-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.different-games-container{
    display: grid;
    grid-template-columns: repeat(5 ,1fr);
    gap: 10px;
    padding: 0 20px;
}

/* footer part styles */
footer{
    background: #0B0223;
    height: 100%;
}
.footer-end p{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}
.footer-1st .nav-title{
    color: #FFF;
    font-size: 2.8rem;
    font-weight: 700;
}
.footer-2nd a{
    padding: 0 20px;
    text-decoration: none;
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
}
footer .footer-2nd{
    text-align: center;
}
footer .footer-3rd{
    margin-top: 20px;
    text-align: center;
}

.footer-1st{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
/* .footer-end{
    display: flex;
    align-items: center;
} */